html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gruppo", sans-serif;
}

h1, h2, .nav-link {
	font-family: "Krona One", sans-serif;
}

p {
	font-size: 20px;
}

.navbar {
	background: #236575;
}

a.navbar-brand {
	font-weight: 800;
    font-size: 1.4rem;
    background: #1b5361;
    padding: 0 20px;
    letter-spacing: .25rem;
}

.navbar-brand:hover {
	transition: .3s;
	transform: scale(1.05);
}

.nav-link {
	font-size: .95rem;
}

div.container-fluid {
	overflow: hidden;
}

#Landing {
	background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4)), url("./images/landing-bg.jpg") no-repeat center / cover fixed;
	padding-top: 56px;
}

#Landing .profile {
	width: 100%;
	max-width: 400px;
}

h2.subHead {
	color: #236575;
}

#Projects .modal-dialog {
	max-width: 1200px;
}

.projectThumb {
	cursor: pointer;
	transition: .3s;
	border: 1px solid #ccc;
	opacity: .9;
}

.projectThumb:hover {
	opacity: 1;
	transform: scale(1.05);
}

#Tools {
	background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./images/landing-bg.jpg") no-repeat center / cover;
}

.icons img {
	max-width: 120px;
}

label {
	font-size: 1rem;
	font-weight: 700;
}

button.btn.btn-secondary {
	background: #236575;
	border: none;
}

button:hover {
	transition: .3s;
	transform: scale(1.05);
}

#Contact {
	background: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url("./images/landing-bg.jpg") no-repeat top / cover;
}